html {
    background-color: #0e080c;
    /* color: #1ED760; */
    margin: auto 30%;
}

body {
    color: white;
}

h1 {
    text-align: center;
}

ul {
    margin-left: 11.1em;
}

.genre{
    border-bottom: white 2.5px solid;
}

.artist {
    margin: auto 4em;
    border-bottom: 1px #1ed760 solid;
    padding-top: 1em;
    font-size: 1.35em;
}

.album {
    text-align: center;    
}

.video {
    
}
