html {
    background-color: #0e080c;
    /* color: #1ED760; */
    margin: auto 30%;
}

body {
    color: white;
}

h1 {
    text-align: center;
}

ul {
    margin-left: 11.1em;
}

.artist {
    margin-left: 4em;
}

.album {
    text-align: center;    
}

.video {
    
}

.genre {
    
}